.awbot {
  margin-bottom:0;
}
.awtop {
  margin-top:0.3em;
}
.awin1 {
  margin-left:2em;
}
.awin2 {
  margin-left:4em;
}
.awverh {
  width: 60%;
  float: left;
}
.awverd {
  margin-left: 70%;
  margin-top: 0;
  text-align: right;
}
